.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 24px 0 40px;

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #f1f1f1;
    border: 0;
    border-radius: 50%;

    img {
      height: 14px;
    }

    &--next {
      img {
        transform: rotate(180deg);
      }
    }
  }

  @media (min-width: 1296px) {
    margin-top: 8px;
  }
}
