.breadcrumbs__outer {
  width: 100%;
  position: relative;
  z-index: 1 !important;
  background-color: #fff;
}

.breadcrumbs {
  position: relative;
  z-index: 1 !important;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &__steps {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    @media (min-width: 992px) {
      padding: 0;
    }
  }

  &__step {
    a {
      padding: 8px 0;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      @media (max-width: 450px) {
        max-width: 100px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-right: 4px;

      &:after {
        content: "\0203A";
      }
    }

    @media (min-width: 450px) {
      &:not(:last-child) {
        margin-right: 24px;
        position: relative;

        &:after {
          font-size: 20px;
          position: absolute;
          top: 50%;
          right: -15px;
          padding-bottom: 2px;
          transform: translateY(-50%);
        }
      }
    }

    &.active {
      color: #01c4be;
    }

    &:last-child > a {
      font-weight: 700;
    }
  }
}

.leaflet-viewer {
  .breadcrumbs {
    overflow: unset;
    width: fit-content;
    max-width: 100%;
  }

  .breadcrumbs__outer {
    .breadcrumbs__step {
      white-space: nowrap;

      &:last-child {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tooltip {
  &__text {
    display: none;
    position: absolute;
    top: 30px;
    left: 100%;
    padding: 4px 8px;
    background-color: #333333;
    color: #fff;
    border-radius: 4px;

    &:before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-color: #333333;
      position: absolute;
      top: -6px;
      left: calc(50% - 6px);
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  &:hover {
    .tooltip__text {
      display: block;
    }
  }
}
