.recipe-info {
  .sidebar {
    width: 100%;

    .sidebar-posts {
      display: none;
    }
  }

  .top-wrapper {
    &__pills {
      margin-bottom: 16px;

      .pill {
        &--main {
          background-color: #ddf0f3;
          border: 0;
          color: #000;
        }
      }
    }

    &__featured-img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }

    &__details {
      display: flex;
      gap: 16px;
      margin: 16px 0;
      padding: 16px;
      background-color: #f4f4f4;
      border-radius: 10px;
    }

    &__detail {
      display: flex;
      align-items: center;

      img {
        margin-right: 4px;
      }
    }

    &__data {
      display: flex;
      align-items: center;
      gap: 12px;

      .data__rating,
      .data__comments {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .data__comments {
        cursor: pointer;
      }
    }

    &__content {
      font-weight: 700;
    }

    &__contents {
      margin-bottom: 24px;

      span {
        display: inline-block;
        margin-bottom: 6px;
      }

      ul,
      ol {
        padding-left: 24px;

        li {
          margin-bottom: 6px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .bottom-wrapper {
    &__ingredients {
      height: fit-content;
      margin-bottom: 32px;

      ul {
        padding-left: 16px;
      }

      li {
        margin-bottom: 6px;

        &:has(strong) {
          margin: 8px 0;
          padding: 4px 12px 4px 12px;
          background-color: #d9d9d9;
          margin-left: -16px;
          list-style: none;
        }

        a {
          font-weight: 700;
        }
      }
    }

    &__ingredients-inner-wrapper {
      padding: 16px;
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    &__preparation {
      ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        counter-reset: elementcounter;
      }

      li {
        margin-bottom: 12px;
        padding-bottom: 12px;

        &:not(&:last-child) {
          border-bottom: 1px solid #d9d9d9;
        }

        &:before {
          content: "Krok " counter(elementcounter);
          display: block;
          margin-bottom: 4px;
          counter-increment: elementcounter;
          font-weight: bold;
        }
      }
    }

    &__embed {
      .pill {
        color: #000000;

        &.active {
          color: #fff;
          background-color: #333333;
        }

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    &__embed-pills {
      margin-bottom: 24px;
    }

    &__tips {
      padding: 16px;
      border-radius: 10px;
      background-color: #ddf0f3;
    }

    &__engagement {
      padding-top: 24px;
      border-top: 1px solid #d9d9d9;

      .engagement-wrapper {
        display: grid;
        grid-template-columns: min-content;
        gap: 24px;
      }

      .rating {
        grid-column: span 2;
        display: flex;
        align-items: center;

        &__wrapper {
          position: relative;
          display: flex;
          align-items: center;
          margin-right: 12px;
        }

        &__bg {
          position: relative;
          width: 120px;
          height: 20.69px;
          background-color: lightgray;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }

        &__progress {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: #ffb439;
        }

        &__btns-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 120px;
        }

        .star {
          width: 20px;
          height: 20.69px;
          padding: 0;
          background-color: transparent;
          border: 0;

          &.active {
            background: url("../../img/rate.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &.rated {
          .rating__btns-wrapper {
            display: none;
          }
        }
      }

      .share,
      .comments {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &__btn {
          width: 20px;
          height: 20px;
          background-color: transparent;
          border: 0;
          padding: 0;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__author {
      display: grid;
      align-items: center;
      grid-template-columns: 48px max-content auto;
      column-gap: 12px;
      border-top: 1px solid #d9d9d9;
      margin-top: 24px;
      padding-top: 24px;

      .avatar {
        grid-row: span 2;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      .socials {
        grid-row: 1/3;
        grid-column: 3/4;
        padding-left: 12px;
      }
    }
  }

  @media (min-width: 992px) {
    .article-search {
      max-width: 100%;
      margin-bottom: 12px;
    }
  }

  @media (min-width: 1200px) {
    display: flex;

    .article-search {
      max-width: 282px;
      margin-bottom: 0;
    }

    .sidebar {
      order: 2;
      width: 330px;
      padding-left: 40px;

      .sidebar-posts {
        display: block;
        margin: 24px 0 0;

        &__header {
          display: block;
          margin-bottom: 16px;
        }
      }

      .single-post {
        margin-bottom: 16px;

        a {
          display: flex;
          gap: 10px;
        }

        &__img {
          width: 48px;
          height: 48px;
          margin-bottom: 14px;
          border-radius: 6px;
        }

        &__title {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          line-height: 19px;
          max-height: 38px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }

        &__date {
          font-size: 12px;
        }
      }
    }

    .main {
      order: 1;
      width: calc(100% - 330px);
    }

    .top-wrapper {
      display: grid;
      grid-template-columns: 282px 1fr 200px;
      column-gap: 8px;

      &__title {
        grid-column: span 4;
      }

      &__pills {
        grid-column: span 2;
        margin: 12px 0 24px;
      }

      &__data {
        grid-row: 2/3;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 12px 0 24px;
      }

      &__featured-img,
      &__details {
        grid-column: span 3;
      }

      &__contents {
        grid-column: 1/2;
        grid-row: 5/6;
      }

      &__content {
        grid-column: span 2;
      }
    }

    .bottom-wrapper {
      display: grid;
      grid-template-columns: 282px 1fr;
      grid-gap: 24px;
      padding-top: 24px;
      border-top: 1px solid #d9d9d9;

      &__ingredients {
        position: relative;
        height: 100%;
        grid-row: span 5;
      }

      &__ingredients-inner-wrapper {
        position: sticky;
        top: 104px;
      }

      &__preparation {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &__embed {
        max-width: 564px;
      }

      &__embed,
      &__tips,
      &__engagement,
      &__author {
        grid-column: 2/3;
      }

      &__engagement {
        .engagement-wrapper {
          display: flex;
          align-items: center;
        }
      }

      &__author {
        margin-top: 0;
      }
    }
  }
}

.comments-bottomsheet {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;

  &__bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    touch-action: none;
    box-sizing: border-box;
  }

  &__drag-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
  }

  &__drag {
    width: 86px;
    height: 4px;
    border-radius: 2px;
    background-color: #d9d9d9;
    cursor: grab;
  }

  &__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    h2 {
      margin-bottom: 0;
    }

    .back-btn {
      display: none;
      width: fit-content;
      padding: 0;
      background-color: transparent;
      border: 0;
      font-size: 15px;
      font-weight: 700;
      color: #000;
    }

    .close-btn {
      width: 16px;
      height: 16px;
      background: url("../../img/x-icon.svg");
      background-position: center;
      background-size: cover;
      border: none;
    }

    &.extended {
      display: grid;
      grid-template-columns: 1fr 20px;
      gap: 16px;

      .back-btn {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          height: 12px;
          transform: rotate(180deg);
        }
      }

      .close-btn {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }

  &__inner-wrapper {
    display: block;
    flex-direction: column;
    width: 100%;
    max-width: 1296px;
    height: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 24px 16px;

    form {
      label {
        display: block;
        margin-bottom: 8px;
      }

      input[type="text"] {
        width: 100%;
        height: 44px;
        margin-bottom: 16px;
        padding: 0 12px;
        background-color: #f1f1f1;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        font-family: "Manrope", sans-serif;
      }

      textarea {
        resize: none;
        width: 100%;
        height: 100px;
        margin-bottom: 16px;
        padding: 12px;
        background-color: #f1f1f1;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        font-family: "Manrope", sans-serif;

        &::placeholder {
          font-family: "Manrope", sans-serif;
        }
      }

      button {
        width: 100%;
      }
    }

    .left-col {
      overflow: hidden;
      max-height: 140px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #d9d9d9;

      &--unwrapped {
        height: calc(100% - 50px);
        max-height: unset;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }

      .message-box {
        width: 100%;
        height: 50px;
        margin-bottom: 12px;

        .response,
        .success,
        .error {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0 24px;
          border-radius: 12px;
          color: #fff;

          &__clear-btn {
            position: absolute;
            top: 19px;
            right: 14px;
            width: 12px;
            height: 12px;
            padding: 0;
            background: url("../../img/x-icon.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
          }
        }

        .response {
          background-color: #0148d2;
        }

        .success {
          background-color: #05a763;
        }

        .error {
          background-color: #ff003d;
        }
      }
    }

    .right-col {
      display: flex;
      justify-content: center;
      height: calc(100% - 185px);
      padding-right: 12px;
      overflow: auto;

      h2 {
        margin-top: 34px;
        text-align: center;
      }

      .comments-wrapper {
        width: 100%;
        height: 100%;
      }

      .single-comment {
        display: grid;
        grid-template-columns: 48px 1fr;
        column-gap: 12px;

        .avatar {
          grid-row: span 2;
          border-radius: 50%;
        }

        &__content {
          grid-column: span 2;
          margin: 8px 0;
        }

        &__respond {
          grid-column: span 2;
          padding: 0;
          background-color: transparent;
          border: 0;
          font-weight: 700;
          text-align: left;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #34b57b;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #d9d9d9;
        }

        &--inner {
          grid-column: 2/3;

          &:first-of-type {
            margin-top: 24px;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: 2px;
      }
    }
  }

  &.opened {
    display: block;

    .comments-bottomsheet__bg {
      opacity: 0;
      animation: bottomsheetBgShow 200ms forwards;
    }

    .comments-bottomsheet__content {
      touch-action: none;
      transform: translateY(100%);
      animation: bottomsheetContentShow 300ms forwards 100ms;
    }
  }

  @media (min-width: 1200px) {
    &__inner-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 1fr;
      column-gap: 24px;
      padding: 32px 48px;

      .left-col {
        height: 100%;
        max-height: unset;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }

      .right-col {
        height: auto;
      }
    }

    &__header-wrapper {
      grid-column: span 2;
    }
  }
}

@keyframes bottomsheetBgShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bottomsheetContentShow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
