.recipe-info {
  .top-wrapper {
    &__sidebar {
      width: 100%;

      .sidebar-posts {
        display: none;
      }
    }

    &__pills {
      margin-bottom: 16px;

      .pill {
        &--main {
          background-color: #ddf0f3;
          border: 0;
          color: #000;
        }
      }
    }

    &__featured-img {
      width: 100%;
      border-radius: 10px;
    }

    &__details {
      display: flex;
      gap: 16px;
      margin: 16px 0;
      padding: 16px;
      background-color: #f4f4f4;
      border-radius: 10px;
    }

    &__detail {
      display: flex;
      align-items: center;

      img {
        margin-right: 4px;
      }
    }

    &__content {
      font-weight: 700;
    }
  }

  .bottom-wrapper {
    margin-top: 16px;
    padding-top: 32px;

    &__ingredients {
      height: fit-content;
      margin-bottom: 32px;
      padding: 16px;
      background-color: #f1f1f1;
      border-radius: 10px;

      ul {
        padding-left: 16px;
      }

      li {
        &:has(strong) {
          margin: 8px 0;
          padding: 4px 12px 4px 12px;
          background-color: #d9d9d9;
          margin-left: -16px;
          list-style: none;
        }

        a {
          font-weight: 700;
        }
      }
    }

    &__embed {
      margin-bottom: 32px;

      .embed {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        background-color: pink;
      }
    }

    &__preparation {
      ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
        counter-reset: elementcounter;
      }

      li {
        margin-bottom: 12px;
        padding-bottom: 12px;

        &:not(&:last-child) {
          border-bottom: 1px solid #d9d9d9;
        }

        &:before {
          content: "Krok " counter(elementcounter);
          display: block;
          margin-bottom: 4px;
          counter-increment: elementcounter;
          font-weight: bold;
        }
      }
    }

    &__tips {
      padding: 16px;
      border-radius: 10px;
      background-color: #ddf0f3;
    }

    &__author {
      display: grid;
      align-items: center;
      grid-template-columns: 48px max-content auto;
      column-gap: 12px;
      margin-top: 24px;
      border-top: 1px solid #d9d9d9;
      padding-top: 24px;

      .avatar {
        grid-row: span 2;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }

      .socials {
        grid-row: 1/3;
        grid-column: 3/4;
        padding-left: 12px;
      }
    }
  }

  @media (min-width: 1200px) {
    .top-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 282px);
      column-gap: 8px;

      &__title {
        grid-column: span 4;
      }

      &__pills {
        grid-column: span 2;
        margin: 12px 0 24px;
      }

      &__data {
        grid-row: 2/3;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 12px 0 24px;
      }

      &__featured-img,
      &__details {
        grid-column: span 3;
      }

      &__contents {
        grid-column: 1/2;
        grid-row: 5/6;
      }

      &__content {
        grid-column: span 2;
      }

      &__sidebar {
        grid-row: 3/7;
        grid-column: 4/5;
        padding-left: 40px;

        .sidebar-posts {
          display: block;
          margin: 24px 0 0;

          &__header {
            display: block;
            margin-bottom: 16px;
          }
        }

        .single-post {
          margin-bottom: 16px;

          a {
            display: flex;
            gap: 10px;
          }

          &__img {
            width: 48px;
            height: 48px;
            margin-bottom: 14px;
            border-radius: 6px;
          }

          &__title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 19px;
            max-height: 38px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
          }

          &__date {
            font-size: 12px;
          }
        }
      }
    }

    .bottom-wrapper {
      display: grid;
      grid-template-columns: 282px 1fr;
      grid-gap: 24px;
      width: calc(100% - 330px);
      border-top: 1px solid #d9d9d9;

      &__preparation {
        grid-row: 1/2;
        grid-column: 2/3;
      }

      &__embed,
      &__tips,
      &__author {
        grid-column: 2/3;
      }
    }
  }
}
