.message-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 50px;
  margin-bottom: 12px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #72a5ea4d;
  font-size: 0.9rem;
}

.embed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 425px;
  max-height: 517px;
  margin-bottom: 24px;
  background-color: #f1f1f1;
  border: 1px solid #d9d9d9;

  &.loading {
    .navigation,
    .swiper {
      opacity: 0;

      * {
        opacity: 0;
      }
    }
  }

  &.archival {
    .swiper {
      .page-wrapper {
        .page-img {
          filter: grayscale(1);
        }
      }
    }
  }

  &.empty {
    .swiper {
      .swiper-button-prev,
      .swiper-button-next,
      .swiper__special-buttons {
        display: none !important;
      }

      .page-wrapper {
        &:not(.page-wrapper--additional) {
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  .navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 58px;
    padding: 6px 8px 10px;
    background-color: #fff;

    &__name-wrapper {
      max-height: 49px;
      overflow: hidden;
      font-size: 12px;

      strong {
        display: inline;
        font-size: 14px;
      }

      &--grid {
        display: grid;
        grid-template-columns: 40px auto;
        column-gap: 6px;

        a,
        img {
          display: flex;
          grid-row: span 2;
        }
      }
    }

    &__inner-wrapper {
      display: flex;
      gap: 8px;
    }

    &__brand-logo {
      border: 1px solid #d9d9d9;
    }

    .availability-badge {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      width: max-content;
      padding: 2px 4px;
      border-radius: 4px;
      font-size: 10px;
      font-weight: 700;
      line-height: 1.63em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }

      &__label {
        &::first-letter {
          text-transform: capitalize;
        }
      }

      &.lav-starting-soon {
        background-color: #dfebfb;

        .availability-badge__dot {
          background-color: #297ae6;
        }
      }

      &.lav-new {
        background-color: #e1f4eb;

        .availability-badge__dot {
          background-color: #34b57b;
        }
      }

      &.lav-available {
        background-color: #e5f4f6;

        .availability-badge__dot {
          background-color: #53b6c3;
        }
      }

      &.lav-ending-soon {
        background-color: #ffe7e5;

        .availability-badge__dot {
          background-color: #ff1100;
        }
      }

      &.lav-archive,
      &.lav-unavailable {
        background-color: #ececec;

        .availability-badge__dot {
          background-color: #808080;
        }
      }
    }

    &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 52px;
      height: 40px;
      padding: 0 4px;
      border: 1px solid #d4d4d4;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 700;
    }

    &__progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      z-index: 2;
    }

    &__progress-bar-track {
      width: 100%;
      height: 100%;
      background-color: #e5e5e5;
    }

    &__progress-bar-progress {
      width: 0;
      height: 100%;
      background-color: #34b57b;
      transition: 300ms width;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding: 2px 0;
    opacity: 1;
    transition: 200ms opacity;

    &:not(.swiper-initialized) {
      .swiper-slide {
        .insert-wrapper {
          .insert-img {
            display: none;
          }
        }
      }
    }

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-zoom-container {
      display: flex;
      min-width: 0;
      height: 100%;
      transition: min-width 0ms linear 300ms;

      &:has(.page-wrapper--ad) {
        min-width: 100%;
        transition: unset;
      }
    }

    .swiper-zoom-target {
      display: flex;
      min-width: 0;
      height: 100%;
      overflow: hidden;
      transition: min-width 0ms linear 300ms, transform 100ms;

      &:has(.page-wrapper--ad) {
        min-width: 100%;
        transition: unset;
      }

      &:not(&:has(.page-wrapper:first-child.hidden)) {
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
      }

      &:has(.page-wrapper:first-child.hidden) {
        .page-wrapper {
          &:not(.hidden) {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
          }
        }
      }

      &:has(.page-wrapper--insert) {
        box-shadow: none !important;
      }
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      &.placeholder {
        opacity: 0;
      }
    }

    .page-wrapper {
      position: relative;
      height: 100%;
      min-width: 0;
      transition: min-width 0ms linear 300ms;

      .page-img {
        display: block;
        width: auto;
        height: auto;
        max-height: 427px;
        transition: opacity 300ms;
      }

      &.hidden {
        .page-img {
          opacity: 0;
        }

        .adult-content-overlay {
          display: none;
        }
      }

      &--additional {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 16px 12px;
        background-color: #fff;

        h4 {
          text-align: center;
        }

        .leaflets {
          display: grid;
          grid-template-columns: repeat(2, calc(50% - 6px));
          grid-template-rows: repeat(2, calc(50% - 6px));
          grid-gap: 12px;
          //width: 100%;
          max-width: calc(100% - 24px);
          height: calc(100% - 37px);
          aspect-ratio: 0.6;
        }
      }

      .insert-wrapper {
        position: absolute;
        top: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        transform: translateX(200%);
        transition: transform 300ms linear;

        .insert-img {
          max-height: 427px;
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
        }
      }

      &--insert {
        display: flex;
        justify-content: center;
        min-width: 100%;
        transition: unset;

        .page-img {
          opacity: 0;
          transition: opacity 300ms ease-in 300ms;
        }

        .insert-wrapper {
          transform: translateX(0);
          transition: transform 300ms linear 300ms;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: calc(50% - 16px);
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border: 0;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;

      img {
        transition: 200ms all;
      }
    }

    .swiper-button-prev {
      left: 16px;

      img {
        transform: rotate(180deg);
      }

      &:hover {
        img {
          transform: translateX(-2px) rotate(180deg);
        }
      }
    }

    .swiper-button-next {
      right: 16px;

      &:hover {
        img {
          transform: translateX(2px);
        }
      }
    }

    .swiper-button-lock {
      display: none;
    }

    &__special-buttons {
      display: none;
    }
  }

  @media (min-width: 992px) {
    max-height: 617px;

    .navigation {
      height: 66px;

      &__name-wrapper {
        &--grid {
          grid-template-columns: 48px auto;

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    .swiper {
      &__special-buttons {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border: 0;
          border-radius: 50%;
          background-color: #fff;
          cursor: pointer;

          img {
            transition: 200ms all;
          }

          &:hover {
            img {
              transform: scale(1.2);
            }
          }
        }

        .swiper__leaflet-btn {
          background-color: #34b57b;
          box-shadow: 0 0 12px rgba(52, 181, 123, 0.75);
        }
      }

      .swiper-container {
        &:has(.page-wrapper--insert) {
          width: initial;

          .swiper-zoom-target {
            width: initial;
          }
        }
      }

      .page-wrapper {
        display: flex;
        align-items: center;
        max-width: 50%;

        .page-wrapper {
          max-width: unset;
        }

        .page-img {
          max-height: 519px;
        }

        &--insert {
          width: initial;
          min-width: unset;

          .page-img {
            opacity: 1;
          }
        }

        .insert-wrapper {
          width: 100%;
          height: 100%;
          background-color: #fff;

          .insert-img {
            max-height: 519px;
            margin: auto;
            box-shadow: none;
          }
        }

        &:first-of-type {
          &.page-wrapper--insert {
            .insert-wrapper {
              transform: translateX(100%);
            }
          }
        }
      }
    }
  }
}
